[Unit]
Description=Popula set nftables mgmt_v4_docker e aplica regras em DOCKER-USER
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/update-mgmt-set.sh
ExecStartPost=/usr/local/sbin/apply-docker-user-rules.sh
